<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование заказа</title>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/person_account">
            <img th:src="@{/img/java.png}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Магазин
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/person_account">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/product/add">Добавить товар</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/orders">Просмотреть заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/users">Пользователи</a>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-block">
                <form method="post" action="/logout">
                    <button class="btn btn-primary" type="submit">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<h3 class="text-center mt-5">Редактирование пользователя</h3>
<div class="container mb-5 col-md-6 col-sm-12">
    <form th:method="POST" th:action="@{/admin/user/edit/{id}(id=${person.getId()})}" th:object="${person}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{password}" th:value="${person.getPassword()}">

        <div class="input-group mb-3">
            <label for="login" class="input-group-text">Логин</label>
            <input id="login" th:field="*{login}" class="form-control" type="text" placeholder="Введите текст" aria-label="default input example">
        </div>
        <div class="input-group mb-3">
            <label for="status" class="input-group-text">Роль</label>
            <select id="status" name="category" th:field="*{role}" class="form-select">
                <div th:each="role : ${roles}">
                    <option th:text="${role}" th:value="${role.getValue()}">
                </div>
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Редактировать">
    </form>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>