<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/person_account">
            <img th:src="@{/img/java.png}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Магазин
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/person_account">Главная</a>
                </li>
                <li class="nav-item">
                    <form method="get" th:action="@{/cart}">
                        <button class="nav-link active" type="submit">Корзина</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="get" th:action="@{/orders}">
                        <input class="nav-link active" type="submit" value="Заказы">
                    </form>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-block">
                <form method="post" action="/logout">
                    <button class="btn btn-primary" type="submit">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div th:if="${cart_product.isEmpty()}">
    <div class="container mt-5 d-flex flex-column align-items-center">
        <h3>Корзина пуста!</h3>
        <a class="btn btn-primary mt-3" href="/person_account">Перейти к списку товаров</a>
    </div>
</div>
<div th:unless="${cart_product.isEmpty()}">
    <h3 class="text-center mt-5">Корзина товаров</h3>
    <div class="container mb-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <div th:each="product : ${cart_product}" class="col">
                <div class="card text-bg-light">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <a th:href="@{/person_account/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover card-title"></a>
                        <p th:text="'Цена: ' + ${product.getPrice()}" class="card-text"></p>
                        <a class="btn btn-primary" th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center">
        <h3 th:text="'Итоговая цена: ' + ${price}"></h3>
        <a class="btn btn-primary mt-3 mb-5" href="/order/create">Оформить заказ</a>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>