<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/person_account">
            <img th:src="@{/img/java.png}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Магазин
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/person_account">Главная</a>
                </li>
                <li class="nav-item">
                    <form method="get" th:action="@{/cart}">
                        <button class="nav-link active" type="submit">Корзина</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="get" th:action="@{/orders}">
                        <input class="nav-link active" type="submit" value="Заказы">
                    </form>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-block">
                <form method="post" action="/logout">
                    <button class="btn btn-primary" type="submit">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<h1 class="text-center mt-5">Личный кабинет</h1>
<h3 class="text-center mt-5">Cортировка, поиск, фильтрация</h3>
<form th:method="POST" th:action="@{/person_account/product/search}" class="container col-md-6 col-sm-12">
    <fieldset>
        <div class="mb-3">
            <label for="search" class="form-label">Наименование</label>
            <input type="text" class="form-control" id="search" name="search" placeholder="Введите название товара" th:value="*{value_search}">
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="ot" class="form-label">Цена от</label>
                <input type="text" class="form-control" id="ot" name="ot" placeholder="Введите минимальную сумму" th:value="*{value_price_ot}">
            </div>
            <div class="col">
                <label for="do" class="form-label">Цена до</label>
                <input type="text" class="form-control" id="do" name="do" placeholder="Введите максимальную сумму" th:value="*{value_price_do}">
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price" checked>
                <label class="form-check-label" for="ascending_price">Отсортировать по возрастанию цены</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="descending_price" name="price"
                       value="sorted_by_descending_price">
                <label class="form-check-label" for="descending_price">Отсортировать по убыванию цены</label>
            </div>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Category select" id="contract" name="contract">
                <option selected>Выбрать категорию товара</option>
                <option value="furniture">Мебель</option>
                <option value="appliances">Бытовая техника</option>
                <option value="clothes">Одежда</option>
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Найти">
    </fieldset>
</form>
<hr>
<div th:if="${search_product}">
    <h3 class="text-center mt-5">Результат поиска, cортировки, фильтрации</h3>
    <div class="container mb-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <div th:each="product : ${search_product}" class="col">
                <div class="card text-bg-light">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <a th:href="@{/person_account/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover card-title"></a>
                        <p th:text="'Цена: ' + ${product.getPrice()}" class="card-text"></p>
                        <form th:method="POST" th:action="@{/cart/add/{id}(id=${product.getId()})}">
                            <button class="btn btn-primary" type="submit">Добавить товар в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:unless="${search_product}">
    <h3 class="text-center my-3">Доступные товары:</h3>
    <div class="container mb-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <div th:each="product : ${products}" class="col">
                <div class="card text-bg-light">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <a th:href="@{/person_account/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover card-title"></a>
                        <p th:text="'Цена: ' + ${product.getPrice()}" class="card-text"></p>
                        <form th:method="POST" th:action="@{/cart/add/{id}(id=${product.getId()})}">
                            <button class="btn btn-primary" type="submit">Добавить товар в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
